##############################
# Maven
##############################
target/
!.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar
HELP.md

##############################
# Logs（项目日志目录）
##############################
logs/
*.log

##############################
# VS Code（工作区配置不提交）
##############################
.vscode/

##############################
# Java 编译输出
##############################
*.class

##############################
# Spring Boot 临时文件
##############################
*.pid
*.swp
*.swo

##############################
# 系统文件（Windows / macOS）
##############################
.DS_Store
Thumbs.db

##############################
# Ignore IntelliJ / Eclipse / NetBeans
#（即使不用，避免有人误放）
##############################
.idea/
*.iml
.project
.classpath
.settings/
nbproject/
nbbuild/
dist/
build/
